*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

img{
    max-width: 100%;
}

a {
    text-decoration: none;
}

li{
    list-style: none;
}

.big-wrapper{
    width: 85%;
    margin: 0 auto;
}

.small-wrapper{
    width: 75%;
    margin: 0 auto;
}